page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "page-header page-header page-header"
    "page-main   page-main   page-main"
    "page-footer page-footer page-footer";
}

page-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "page-header-left page-header-center page-header-right";
  grid-area: page-header;
}

page-header-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: page-header-left;
}

page-header-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: page-header-center;
  justify-items: center;

}

page-header-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: page-header-right;
  justify-items: right;
}

page-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "page-footer-left page-footer-center page-footer-right";
  grid-area: page-footer;
}

  page-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: page-footer-left;
  }
  page-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: page-footer-center;
    justify-items: center;
  }
  page-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: page-footer-right;
    justify-items: right;
  }

page-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "panel-01-header  panel-02-header  panel-03-header  panel-04-header  panel-05-header  panel-06-header  panel-07-header"
    "panel-01-content panel-02-content panel-03-content panel-04-content panel-05-content panel-06-content panel-07-content"
    "panel-01-footer  panel-02-footer  panel-03-footer  panel-04-footer  panel-05-footer  panel-06-footer  panel-07-footer";
  grid-area: page-main;
}

panel-01-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-01-header-left panel-01-header-center panel-01-header-right";
  grid-area: panel-01-header;
}
  panel-01-header-left {
    grid-area: panel-01-header-left;
  }
  panel-01-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-01-header-center;
    justify-items: center;
  }
  panel-01-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-01-header-right;
    justify-items: right;
  }
panel-01-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-01-content;
}
panel-01-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-01-footer-left panel-01-footer-center panel-01-footer-right";
  grid-area: panel-01-footer;
}
  panel-01-footer-left {
    grid-area: panel-01-footer-left;
  }
  panel-01-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-01-footer-center;
    justify-items: center;
  }
  panel-01-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-01-footer-right;
    justify-items: right;
  }

panel-02-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-02-header-left panel-02-header-center panel-02-header-right";
  grid-area: panel-02-header;
}
  panel-02-header-left {
    grid-area: panel-02-header-left;
  }
  panel-02-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-02-header-center;
    justify-items: center;
  }
  panel-02-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-02-header-right;
    justify-items: right;
  }
panel-02-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-02-content;
}
panel-02-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-02-footer-left panel-02-footer-center panel-02-footer-right";
  grid-area: panel-02-footer;
}
  panel-02-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-02-footer-left;
  }
  panel-02-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-02-footer-center;
    justify-items: center;
  }
  panel-02-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-02-footer-right;
    justify-items: right;
  }
 
panel-03-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-03-header-left panel-03-header-center panel-03-header-right";
  grid-area: panel-03-header;
}
  panel-03-header-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-header-left;
  }
  panel-03-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-header-center;
    justify-items: center;
  }
  panel-03-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-header-right;
    justify-items: right;
  }
  
panel-03-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-03-content;
}
panel-03-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-03-footer-left panel-03-footer-center panel-03-footer-right";
  grid-area: panel-03-footer;
}
  panel-03-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-footer-left;
  }
  panel-03-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-footer-center;
    justify-items: center;
  }
  panel-03-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-03-footer-right;
    justify-items: right;
  }
  
panel-04-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-04-header-left panel-04-header-center panel-04-header-right";
  grid-area: panel-04-header;
}
  panel-04-header-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-header-left;
  }
  panel-04-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-header-right;
    justify-items: center;
  }
  panel-04-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-header-center;
    justify-items: right;
  }
panel-04-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-04-content;
}
panel-04-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-04-footer-left panel-04-footer-center panel-04-footer-right";
  grid-area: panel-04-footer;
}
  panel-04-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-footer-left;
  }
  panel-04-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-footer-center;
    justify-items: center;
  }
  panel-04-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-04-footer-right;
    justify-items: right;
  }

panel-05-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-05-header-left panel-05-header-center panel-05-header-right";
  grid-area: panel-05-header;
}
  panel-05-header-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-header-left;
  }
  panel-05-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-header-center;
    justify-items: center;
  }
  panel-05-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-header-right;
    justify-items: right;
  }

panel-05-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-05-content;
}
panel-05-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-05-footer-left panel-05-footer-center panel-05-footer-right";
  grid-area: panel-05-footer;
}
  panel-05-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-footer-left;
  }
  panel-05-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-footer-center;
    justify-items: center;
  }
  panel-05-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-05-footer-right;
    justify-items: right;
  }

panel-06-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-06-header-left panel-06-header-center panel-06-header-right";
  grid-area: panel-06-header;
}
  panel-06-header-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-header-left;
  }
  panel-06-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-header-center;
    justify-items: center;
  }
  panel-06-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-header-right;
    justify-items: right;
  }
panel-06-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-06-content;
}
panel-06-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-06-footer-left panel-06-footer-center panel-06-footer-right";
  grid-area: panel-06-footer;
}
  panel-06-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-footer-left;
  }
  panel-06-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-footer-center;
    justify-items: center;
  }
  panel-06-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-06-footer-right;
    justify-items: right;
  }

panel-07-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-07-header-left panel-07-header-center panel-07-header-right";
  grid-area: panel-07-header;
}
  panel-07-header-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-header-left;
  }
  panel-07-header-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-header-center;
    justify-items: center;
  }
  panel-07-header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-header-right;
    justify-items: right;
  }
panel-07-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: panel-07-content;
}
panel-07-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: "panel-07-footer-left panel-07-footer-center panel-07-footer-right";
  grid-area: panel-07-footer;
}
  panel-07-footer-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-footer-left;
  }
  panel-07-footer-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-footer-center;
    justify-items: center;
  }
  panel-07-footer-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-area: panel-07-footer-right;
    justify-items: right;
  }
